{
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
      "rules": {
          "import/no-mutable-exports": "off",
          "consistent-return": "off",
          "no-param-reassign": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}