{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:@next/next/recommended"

    ],
      "rules": {
          "import/no-mutable-exports": "off",
          "consistent-return": "off",
          "no-param-reassign": "off",
          "react/prop-types": "off",
          "no-underscore-dangle": "off",
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}